h1{
    color:fuchsia;
    text-align:center;    font-size: 47px;
}
article{
    color: black;
    font-size: 30px;
}

.color{
    color:blueviolet;
    font-size: 30px;
}

.color{
    color: blueviolet;
}
footer{
    background: black;
    color: white;
    text-align: center;
    height: 5opx;
    line-height: 50px;
}
body{
   font-family: Arial, Helvetica, sans-serif;
   display:block
}

#container{
    width: 70%;
    margin: 0% auto;
    border: 5px solid black;
margin-top: 3rem;
}
/*bloque inline a los costados (menu de nav)*/


.clearfix{
    clear:both;
}

.header__list{
    display: flex;
    flex-flow: row nowrap;
justify-content: center;

}

.header__item{
    background-color: palevioletred;
padding: 1rem;
margin: 1rem;
display: inline-block;
border: 2px solid black;
}

/* transicion hover cambia de color*/
.header__item:hover{
    background-color:plum
}



.col-1, .col-2, .col-3{
    color: black;
    font-size: 2rem;
}

.hero{
    color:purple;
    font-size: 3rem;
}
.hero__heading{
    color:brown;
    font-size: 2rem;
}

.tit1{
    color: black;
    font-size: 50px;
    text-align: left;
}


.plantacentrar{
   max-width: 250px;
   margin:auto;
    display:block;
}

.box{
    height: 350px;
    width: 350px;

}

.stock{
    height: 380px;
    width: 380px;
}

.video_index{
   position: relative;
    width: 50%;
    height: 50%;
    
}
.video{
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.imagenstock{
    height: 200px;
    width: 200px;
}
/*flex tipos de plantas*/

.info{
    display:flex;
    gap:0.5rem;


    
}

.infocard{
    flex-direction: row;
    background-color: rgb(245, 150, 200);
    padding: 1rem 1rem;
   

}
/*boton comprar*/

.btn{
background-color: darksalmon;
color: black;
display: inline-block;
margin-top: 5px;
padding: 10px;
text-decoration: none;
}
/* hover a btn*/
.btn:hover{ font-size: 2rem;

}

/*boostrap btn sacar*/
.btn{
    border-bottom: black;
    padding:10px;
    font-size:1rem;
    
    
}
.btn:hover{
    font-size: 1.5rem;
    background-color: salmon}


/*css*/

.tamañoimagen{
    height: 300px;
    width: 300px;
}

.contenedor{
    max-width: 1000px;
    border: 10px solid black;
   margin: auto;
    font-size: 20px;
    line-height: 5px;
    text-align: center;
}
 
.contenedor > div {
display: block;
padding: 5px;
color: black;
background-color:white



}

/*grid*/
.main1{
    display:flex

}

.contenedor{ 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    

}

/*responsive hasta tipos de plantas*/

@media screen and (max-width:320px) {
    .header__list{
        display: flex;
        flex-direction: column;
    }

    .info{
        display: flex;
        flex-direction: column;
 
}}

 @media screen and (max-width: 768px) {
    .tit11{font-size: 2rem;}
 }
    
 @media screen and (max-width: 1024px) { /*todo ok*/}


 /*media queries stock */

 @media screen and (max-width:320px) {
    .header__list{
        display: flex;
        justify-content: center;
    }
    .contenedor{
        display: flex;
        flex-direction: column;
    }
}


  @media screen and (max-width:768px) {
    .main1{
    width: 100%;
    }

    .body{
   display: flex;
   margin: auto;
    }

    .footer{
        display:grid
    }

  }

  
  @media screen  { /*todo ok*/
  }

 

/*animacion, trasformacion y transicion*/

/*animacion logo*/
.rotate-scale-down-hor {
	-webkit-animation: rotate-scale-down-hor 0.65s linear both;
	        animation: rotate-scale-down-hor 0.65s linear both;
}


 @-webkit-keyframes rotate-scale-down-hor {
    0% {
      -webkit-transform: scale(1) rotateX(0);
              transform: scale(1) rotateX(0);
    }
    50% {
      -webkit-transform: scale(0.5) rotateX(-180deg);
              transform: scale(0.5) rotateX(-180deg);
    }
    100% {
      -webkit-transform: scale(1) rotateX(-360deg);
              transform: scale(1) rotateX(-360deg);
    }
  }


  @keyframes rotate-scale-down-hor {
    0% {
      -webkit-transform: scale(1) rotateX(0);
              transform: scale(1) rotateX(0);
    }
    50% {
      -webkit-transform: scale(0.5) rotateX(-180deg);
              transform: scale(0.5) rotateX(-180deg);
    }
    100% {
      -webkit-transform: scale(1) rotateX(-360deg);
              transform: scale(1) rotateX(-360deg);
    }
  }